{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    reset password
{% endblock title %}
    
{% block content %}
<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 ml-auto mr-auto login-box">

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Reset My Password" />
    </form>
</div>
{% endblock content %}{